<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Produto - DevIO.App</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
  <app-menu></app-menu>
  
  <div class="container" style="min-height: 800px">
    <main role="main" class="pb-3">

      <router-outlet></router-outlet>

    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container" id="cor">
      © 2023 - IMCNet Soluções de TI - <a
        href="mailto:suporte@imcnet.com.br">suporte@imcnet.com.br</a>
    </div>
  </footer>

</body>

</html>