
.content{
    text-align: center;
    padding-top: 5em;
    height: 123px;
    transition: 1s;
    display: flex;
}

.center{
  width: 300px;
  margin: 0 auto;
}

.black{
    color: black;
}

.rig{
    text-align: right;
}

.buttonSpace{
    margin-right: 15px;
}
